<footer class="footer-complex">
    <a href="#top" class="top">▲</a>
    <div class="container">
        <div class="row">
            <div class="col-l-1o4">
                <div><a href="#">Privacy</a></div>
                <div><a href="#">Voorwaarden</a></div>
                <div><a href="#">Cookies</a></div>
                <!--<div class="mt-24">☺ {{ "now"|date("Y") }} <a href="{{ link.deidee }}">deidee</a></div>-->
            </div>
            <div class="col-l-1o4">
                <div>tel: <a href="tel:+31624699186"><data value="0624699186">06 246 99 186</data></a></div>
                <div>mailto: <a href="mailto:info@deidee.nl">info@deidee.nl</a></div>
                <div>https: <a href="{{ link.deidee }}">//deidee.nl/</a></div>
            </div>
            <div class="col-l-1o4">
                <dl>
                    <dt><abbr title="Kamer van Koophandel">KvK</abbr></dt>
                    <dd>27313269</dd>
                </dl>
                <dl>
                    <dt><abbr lang="en" title="International Bank Account Number">IBAN</abbr></dt>
                    <dd><data value="NL14ABNA0413695026">NL14 ABNA0413 6950 26</data></dd>
                </dl>
                <dl>
                    <dt><abbr>BTW</abbr></dt>
                    <dd>NL144413784B01</dd>
                </dl>
            </div>
            <div class="col-l-1o4">
                <div><a href="{{ link.linkedin }}">LinkedIn</a></div>
                <div><a href="{{ link.twitter }}">Twitter</a></div>
                <div><a href="{{ link.facebook }}">Facebook</a></div>
            </div>
        </div>
    </div>
</footer>